<a class="btn back-btn d-flex flex-row align-items-center" href="/" title="Back to Home">
    <img class="moving-left mr-3" src="{{ 'arrow-round-back_primary-pink.svg' | asset_url }}" alt="Back to Home">
    <div>Back</div>
</a>