<a id="back-to-previous" class="btn back-btn d-flex flex-row ml-0" href="javascript:void(0);" title="Back to Previous">
  <img class="moving-left mr-3" src="{{ 'arrow-round-back_primary-pink.svg' | asset_url }}" alt="Back to Previous">
  <div>Back</div>
</a>