
<section id="pagination" class="container">
  <div class="row justify-content-center">
    <div class="pagination col-auto py-3">
      {{ paginate | default_pagination }}
    </div>
  </div>
</section>
