<table class="size-chart-table table">
  <thead>
    <tr>
      <th><strong>EU</strong></th>
      <th class="us-women">US Women</th>
      <th class="us-men">US Men</th>
      <th>UK</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>35</strong></td>
      <td class="us-women">5 - 5.5</td>
      <td class="us-men"></td>
      <td>2</td>
    </tr>
    <tr>
      <td><strong>36</strong></td>
      <td class="us-women">6 - 6.5</td>
      <td class="us-men"></td>
      <td>3</td>
    </tr>
    <tr>
      <td><strong>37</strong></td>
      <td class="us-women">7</td>
      <td class="us-men"></td>
      <td>4</td>
    </tr>
    <tr>
      <td><strong>38</strong></td>
      <td class="us-women">7.5 - 8</td>
      <td class="us-men"></td>
      <td>5</td>
    </tr>
    <tr>
      <td><strong>39</strong></td>
      <td class="us-women">8.5 - 9</td>
      <td class="us-men"></td>
      <td>6</td>
    </tr>
    <tr>
      <td><strong>40</strong></td>
      <td class="us-women">9.5 - 10</td>
      <td class="us-men">8 - 8.5</td>
      <td>6</td>
    </tr>
    <tr>
      <td><strong>41</strong></td>
      <td class="us-women">10.5 - 11</td>
      <td class="us-men">9</td>
      <td>7</td>
    </tr>
    <tr>
      <td><strong>42</strong></td>
      <td class="us-women">11.5 - 12</td>
      <td class="us-men">9.5 - 10</td>
      <td>8</td>
    </tr>
    <tr>
      <td><strong>43</strong></td>
      <td class="us-women">12.5 - 13</td>
      <td class="us-men">10.5</td>
      <td>9</td>
    </tr>
    <tr>
      <td><strong>44</strong></td>
      <td class="us-women"></td>
      <td class="us-men">11</td>
      <td>10</td>
    </tr>
    <tr>
      <td><strong>45</strong></td>
      <td class="us-women"></td>
      <td class="us-men">11.5 - 12</td>
      <td>11</td>
    </tr>
    <tr>
      <td><strong>46</strong></td>
      <td class="us-women"></td>
      <td class="us-men">12.5</td>
      <td>12</td>
    </tr>
    <tr>
      <td><strong>47</strong></td>
      <td class="us-women"></td>
      <td class="us-men">13 - 13.5</td>
      <td>13</td>
    </tr>
    <tr>
      <td><strong>48</strong></td>
      <td class="us-women"></td>
      <td class="us-men">14 - 14.5</td>
      <td>14</td>
    </tr>
  </tbody>
</table>
