
<header role="banner" class="container-fluid">
  <div class="row py-3">
    <div class="d-flex col-auto col-sm-6 d-lg-none align-items-center">
      <h1 class="page-heading-sm mb-0">{{ 'cart.general.title' | t }}</h1>
    </div>
    <div class="d-none d-lg-block col-lg-4 col-xl-3 offset-xl-1">
      {% include 'back-btn' %}
    </div>
    <div class="d-none d-lg-flex col-lg-4 justify-content-center align-items-center">
      <h1 class="page-heading-sm mb-0">{{ 'cart.general.title' | t }}</h1>
    </div>
  </div>
</header>
