
<section id="collection-products" class="container-fluid">
  {% paginate collection.products by 12 %}
    {% if collection.products.size > 0 %}
      <div class="collection-products row">
        {% for product in collection.products %}
          {% include 'collection-product' %}
        {% endfor %}
      </div>
    {% else %}
      <div class="row py-3">
        <div class="col text-center">
          <p>No products found. Click <a href="{{ shop.url }}" title="Continue Shopping">here</a> to continue shopping.</p>
        </div>
      </div>
    {% endif %}
    {% if paginate.pages > 1 %}
      {% include 'load-more' %}
    {% endif %}
  {% endpaginate %}
</section>
