<style>
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}
.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}
#testimonials {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#testimonials blockquote {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: #cf1873;
  color: white;
  margin-bottom: 0;
}
/* #testimonials .grid-wrapper div:nth-child(odd) blockquote {
  background-color: white;
  color: #cf1873;
} */
</style>
<section id="testimonials" class="container-fluid">
  <div class="grid-wrapper">
    <div>
      <blockquote>
        "Best product I've tried! Easy to use, effective, and no residue left behind. Brings old pipes back to brand new almost instantly!"
        <div class="mb-3"></div>
        Krystal R.
      </blockquote>
    </div>
    <div>
      <blockquote>
        "After trying this product, I don’t see myself using any others. Instructions are super easy to follow, the process is very quick and the product works wonders. Nothing but great things to say about the pink formula’!"
        <div class="mb-3"></div>
        Brady
      </blockquote>
    </div>
    <div class="tall">
      <blockquote>
        "This stuff is magic. I have tried everything to clean my hookah bowl - vinegar & baking soda, disinfectants, even bleach! NOTHING worked as well as pink formula - we were SHOCKED to see all the residue come off with just a few pours & shakes. I ordered more bottles and I’m sharing them with my hookah-loving friends. It’s a new staple!"
        <div class="mb-3"></div>
        Claudia
      </blockquote>
    </div>
    <div class="wide">
      <blockquote>
        "I own a couple smoke shops, my customers that have tried this product came back for more. They rave at how fast it works it cleans right away, no need to soak. It does what it's supposed to do quickly and almost effortlessly."
        <div class="mb-3"></div>
        Sam
      </blockquote>
    </div>
    <div>
      <blockquote>
        "The best product in the market hands down!!I’ve used many different glass cleaners and let me tell yalllllll pink-formula gets the job done the fastest and cleanest. 100% satisfied"
        <div class="mb-3"></div>
        Tania
      </blockquote>
    </div>
    <div class="tall">
      <blockquote>
        "I have been cleaning glass for the past 15 years. I was recommended to try this new product, pink formula. I will never buy a different kind of glass cleaner again. I've never had my old pipes look so new! No residue, or cloudiness! My glass is sparkling and looks new!!"
        <div class="mb-3"></div>
        Linda S.
      </blockquote>
    </div>
    <div class="big">
      <blockquote>
        "I have been cleaning glass for the past 15 years. I was recommended to try this new product, pink formula. I will never buy a different kind of glass cleaner again. I've never had my old pipes look so new! No residue, or cloudiness! My glass is sparkling and looks new!!"
        <div class="mb-3"></div>
        Linda S.
      </blockquote>
    </div>
    <div>
      <blockquote>
        "It was really good."
        <div class="mb-3"></div>
        Daniel
      </blockquote>
    </div>
    <div class="wide">
      <blockquote>
        "Best product I've tried! Easy to use, effective, and no residue left behind. Brings old pipes back to brand new almost instantly!"
        <div class="mb-3"></div>
        Krystal R.
      </blockquote>
    </div>
    <div class="big">
      <blockquote>
        "It was really good."
        "I have been cleaning glass for the past 15 years. I was recommended to try this new product, pink formula. I will never buy a different kind of glass cleaner again. I've never had my old pipes look so new! No residue, or cloudiness! My glass is sparkling and looks new!!"
        <div class="mb-3"></div>
        Daniel
      </blockquote>
    </div>
    <div class="tall">
      <blockquote>
        "I have been cleaning glass for the past 15 years. I was recommended to try this new product, pink formula. I will never buy a different kind of glass cleaner again. I've never had my old pipes look so new! No residue, or cloudiness! My glass is sparkling and looks new!!"
        <div class="mb-3"></div>
        Linda S.
      </blockquote>
    </div>
    <div>
      <blockquote>
        "Best product I've tried! Easy to use, effective, and no residue left behind. Brings old pipes back to brand new almost instantly!"
        <div class="mb-3"></div>
        Krystal R.
      </blockquote>
    </div>
    <div>
      <blockquote>
        "Best product I've tried! Easy to use, effective, and no residue left behind. Brings old pipes back to brand new almost instantly!"
        <div class="mb-3"></div>
        Krystal R.
      </blockquote>
    </div>
    <div>
      <blockquote>
        "Best product I've tried! Easy to use, effective, and no residue left behind. Brings old pipes back to brand new almost instantly!"
        <div class="mb-3"></div>
        Krystal R.
      </blockquote>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testimonials",
  "settings": [
  ],
  "presets": [
    {
      "name": "Testimonials",	
      "category": "Layout"
    }
  ]
}
{% endschema %}

