
<section class="image-with-text-inside" style="background-image: url('{{ section.settings.background | img_url: 'master' }}')">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="hero-content d-flex flex-column justify-content-center align-items-center text-center">
          <h1 class="loud">{{ section.settings.title }}</h1>
          <p class="mt-3 px-2">{{ section.settings.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Luke"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "The Luke line is a new addition to our collection. It features a chucky sole with cutting-edge overlays that balance a clean, modern silhouette with strong colors and textures."
    }
  ]
}
{% endschema %}
