
<header role="banner" class="container-fluid">
  <div class="row py-3">
    <div class="d-flex col-auto col-sm-6 d-lg-none align-items-center">
      {% comment %}
      {% include 'btn-wishlist' %}
      {% endcomment %}
    </div>
    <div class="d-none d-lg-block col-lg-4 col-xl-3 offset-xl-1">
      {% include 'back-btn' %}
    </div>
    <!--
    Told to remove by Brooke <brooke@streettrendllc.com> - 8/12 1:24 PM (3 minutes ago)  
    <div class="d-none d-lg-flex col-lg-4 justify-content-center align-items-center">
      <h1 class="page-heading-sm mb-0">{{ product.title }}</h1>
    </div> -->
    {% comment %}
    <div class="col col-lg-4 col-xl-3 text-right">
    </div>
    {% endcomment %}
  </div>
</header>
