
<header role="banner" class="container-fluid">
  <div class="row py-3">
    <div class="d-flex col-auto col-sm-6 d-lg-none align-items-center">
      {% comment %}
      {% include 'btn-wishlist' %}
      {% endcomment %}
    </div>
    <div class="d-none d-lg-block col-lg-3 col-xl-2 offset-xl-1">
      {% include 'back-btn' %}
    </div>
    <div class="d-none d-lg-flex col-lg-6 justify-content-center align-items-center">
      <h1 class="page-heading-sm mb-0">{{ product.title }}</h1>
    </div>
    {% comment %}
    <div class="col col-lg-4 col-xl-3 text-right">
    </div>
    {% endcomment %}
  </div>
</header>
