
<section id="search-products" class="container-fluid">
  {% paginate search.results by 12 %}
    {% if search.performed %}
      {% if search.results_count == 0 %}
        <div class="row">
          <div class="col text-center">
            <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
          </div>
        </div>
      {% else %}
        <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
  
        <div class="collection-products row">
          {% for product in search.results %}
            {% if product.featured_image %}
              <!-- <li>{{ product.title }}</li> -->
              {% include 'collection-product' %}
            {% endif %}
          {% endfor %}
        </div>
  
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endpaginate %}
</section>
