
    <div class="container my-5" id="press-article-page">
      <p class="sub-text">April 24th, 2020</p>
      <p class="sub-text font-weight-bold text-primary">Product Announcement</p>
      <h1 class="h2 card-title font-weight-bold">Less waste.<br> Less consumption.<br> Same spirit.</h1>
      <div class="rte body">
        <p class="subtitle text-primary font-weight-bold">Get the exclusive John Mantra Gold series</p>
        <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet fermentum diam. Quisque fringilla tellus sed libero eleifend viverra. Praesent nec dui accumsan, mollis massa et, bibendum lectus. Maecenas non ante fermentum, laoreet lorem quis, finibus lectus. Proin efficitur nunc vitae turpis tincidunt aliquam. Duis a risus nec dui egestas viverra. Fusce iaculis elit id </p>
        <div class="img-container d-flex flex-row w-100">
          <img src="{{ 'press_article_1.jpg' | asset_url }} alt="Press Image 1">
          <img src="{{ 'press_article_2.jpg' | asset_url }} alt="Press Image 2">
        </div>
        <p class="body text-primary mb-4">Etiam a accumsan est. Suspendisse quis dolor odio. Ut fermentum sodales urna, sit amet ornare diam </p>
        <p class="body mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet fermentum diam. Quisque fringilla tellus sed libero eleifend viverra. Praesent nec dui accumsan, mollis massa et, bibendum lectus. Maecenas non ante fermentum, laoreet lorem quis, finibus lectus. Proin efficitur nunc vitae turpis tincidunt aliquam. Duis a risus nec dui egestas viverra. Fusce iaculis elit id diam accumsan, ut ullamcorper diam blandit. Nunc mattis nisl quis vulputate scelerisque.</p>
        <p class="body-large font-weight-bold mb-0">Etiam a accumsan est. Suspendisse quis dolor odio. Ut fermentum sodales urna, sit amet ornare diam </p>
        <p class="body">Quisque at magna a libero lobortis cursus vel non dui. Etiam a accumsan est. Suspendisse quis dolor odio. Ut fermentum sodales urna, sit amet ornare diam suscipit id. Duis efficitur purus ut magna egestas blandit. Nullam et nisl aliquet, ullamcorper velit id, dignissim ante. Nullam in sodales quam. In nisi odio, porta luctus euismod sed, efficitur quis orci. Nulla nulla leo, dapibus ac auctor a, cursus ut velit. Suspendisse ut convallis arcu. Nulla tincidunt enim in vestibulum fermentum. Nulla ac convallis neque. Nunc a pharetra arcu, non sagittis risus. Nam venenatis sed diam a accumsan. Fusce gravida rhoncus vehicula. Donec eget luctus tellus.</p>
        <p class="body-quote d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet fermentum diam. Quisque fringilla tellus sed libero eleifend viverra. Praesent nec dui accumsan, mollis massa et, bibendum lectus. Maecenas non ant fermentum, laoreet lorem quis, finibus lectus. Proin efficitur nunc vitae turpis tincidunt aliquam. Duis a risus nec dui  egestas viverra. Fusce iaculis elit id diam accumsan, ut ullamcorper diam blandit. Nunc mattis nisl quis vulputate </p>
        <p class="d-none d-md-block subtitle text-primary font-weight-bold">Get the exclusive John Mantra Gold series</p>
        <p class="d-none d-md-block body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet fermentum diam. Quisque fringilla tellus sed libero eleifend viverra. Praesent nec dui accumsan, mollis massa et, bibendum lectus. Maecenas non ante fermentum, laoreet lorem quis, finibus lectus. Proin efficitur nunc vitae turpis tincidunt aliquam. Duis a risus nec dui egestas viverra. Fusce iaculis elit id </p>
        <p class="d-none d-md-block body">Quisque at magna a libero lobortis cursus vel non dui. Etiam a accumsan est. Suspendisse quis dolor odio. Ut fermentum sodales urna, sit amet ornare diam suscipit id. Duis efficitur purus ut magna egestas blandit. Nullam et nisl aliquet, ullamcorper velit id, dignissim ante. Nullam in sodales quam. In nisi odio, porta luctus euismod sed, efficitur quis orci. Nulla nulla leo, dapibus ac auctor a, cursus ut velit. Suspendisse ut convallis arcu. Nulla tincidunt enim in vestibulum fermentum. Nulla ac convallis neque. Nunc a pharetra arcu, non sagittis risus. Nam venenatis sed diam a accumsan. Fusce gravida rhoncus vehicula. Donec eget luctus tellus.</p>
      </div>
      <div class="press-article_assets">
        <h5 class="font-weight-bold">Press Release Assets</h5>
        <p class="body">Images and Release notes of Product</p>
        <a class="btn btn-link d-flex flex-row align-items-center" href="#">
          <img class="mr-3" src="{{ 'subdirectory-arrow-right_primary-blue.svg' | asset_url }}" alt="Right arrow">
          <div>Download Assets</div>
        </a>
      </div>
    </div>
 